[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GLMMadaptive"]
	path = GLMMadaptive
	url = https://github.com/drizopoulos/glmmadaptive
[submodule "JM"]
	path = JM
	url = https://github.com/cran/JM
[submodule "JMbayes"]
	path = JMbayes
	url = https://github.com/drizopoulos/jmbayes
[submodule "JMbayes2"]
	path = JMbayes2
	url = https://github.com/drizopoulos/jmbayes2
[submodule "bootStepAIC"]
	path = bootStepAIC
	url = https://github.com/cran/bootStepAIC
[submodule "cvGEE"]
	path = cvGEE
	url = https://github.com/drizopoulos/cvgee
[submodule "ltm"]
	path = ltm
	url = https://github.com/drizopoulos/ltm
