[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cvGEE"]
	path = cvGEE
	url = https://github.com/drizopoulos/cvgee
	shallow = true
	registered = true
[submodule "GLMMadaptive"]
	path = GLMMadaptive
	url = https://github.com/drizopoulos/glmmadaptive
	shallow = true
	registered = true
[submodule "JMbayes"]
	path = JMbayes
	url = https://github.com/drizopoulos/jmbayes
	shallow = true
	registered = true
[submodule "JMbayes2"]
	path = JMbayes2
	url = https://github.com/drizopoulos/jmbayes2
	shallow = true
	registered = true
